<ion-view title="Ready Set Quiz" id="highscore">
  <ion-content class="has-tabs-bottom">
    <ion-refresher pulling-icon="ion-refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="round-card padding">
        <canvas id="hsRank" class="chart chart-bar" chart-data="rankSum" chart-labels="rankUser" chart-legend="true" chart-series="rankSeries"></canvas>
    </div>
    <div class="round-card padding">
        <canvas id="hsPoints" class="chart chart-bar" chart-data="statsPoints" chart-labels="statsUser" chart-legend="true" chart-series="statsSeries"></canvas>
    </div>
    <div class="round-card padding">
        <canvas id="hsQuestions" class="chart chart-bar" chart-data="qSum" chart-labels="qUser" chart-legend="true" chart-series="qSeries"></canvas>
    </div>
</ion-view>