<ion-view title="Ready Set Quiz" id="home">
  <ion-content>
    <div class="round-card" ng-hide="loggedIn">
  		<ion-item>
  			<p>Redan användare?</p>
  			<button class="button button-positive" ui-sref="login">Logga in</button>
  		</ion-item>
  		<ion-item>
  			<p>Ny användare?</p>
  			<button class="button button-assertive" ui-sref="tab.register">Registrera</button>
  		</ion-item>
    </div>
    <div class="round-card" ng-show="loggedIn">
  		<ion-item class="item-text-wrap">
  			<p>Du är inloggad som användare {{username}}.</p>
        <br>
        <button class="button button-assertive icon icon-left ion-power" ng-click="logout()">Logga ut</button>
  		</ion-item>
    </div>
    <div class="round-card">
      <ion-item>
        <button class="button icon icon-left ion-trophy button-positive" ui-sref="tab.highscore">Highscore</button>
      </ion-item>
    </div>
    <div class="round-card">
        <h3>Statistik</h3>
        <div class="row polka item" ng-repeat="item in stats">
          <div class="col text-left">{{item.name}}:</div>
          <div class="col text-right">{{item.sum}}</div>
        </div>
    </div>
  </ion-content>
</ion-view>