<ion-view title="Ready Set Quiz" id="login">
  <ion-content ng-hide="loggedIn">
    	<div class="list padding">
        <h3>Logga in</h3>
			  <label class="item item-input">
			    <span class="input-label text-left">Användarnamn</span>
			    <input type="text" ng-model="data.username">
			  </label>
			  <label class="item item-input">
			    <span class="input-label text-left">Lösenord</span>
			    <input type="password" ng-model="data.password">
			  </label>
        <button class="button button-block button-balanced" ng-click="login()">Logga in</button>
        <!--<button class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Logga in med Facebook</button>
        <button class="google-sign-in button button-block" ng-click="googleSignIn()">Logga in med Google+</button>-->
			</div>
    <div class="padding-horizontal">
      <h3>Ny användare?</h3>
      <button class="button button-block button-positive" ui-sref="register">Registrera</button>
    </div>
  </ion-content>
  <ion-content ng-show="loggedIn">
    <div class="card">
    	<div class="list">
    		Du är redan inloggad som {{username}}. <a ui-sref="tab.home">Logga ut?</a>
			</div>
    </div>
  </ion-content>
</ion-view>