<ion-view title="Ready Set Quiz" id="profile">
    <ion-nav-buttons side="right">
      <button class="button icon ion-gear-a button-clear" ui-sref="tab.settings"></button>
    </ion-nav-buttons>
    <ion-content ng-show="loggedIn" class="has-tabs-bottom">
    	<div class="item-avatar round-card">
        	<img src="img/profile/default.png">
        	<h2>{{userData.username}}</h2>
    	</div>
    	<div class="round-card">
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-checkmark-round padding"></span>Total poäng:</div>
                <div class="col text-left">{{userData.totalPoints}}</div>
            </div>
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-stats-bars padding"></span>Rank vinstprocent:</div>
                <div class="col text-left">{{rankPercent}}</div>
            </div>
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-arrow-graph-up-right padding"></span>Rank antal poäng:</div>
                <div class="col text-left">{{rankCorrect}}</div>
            </div>
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-thumbsup padding"></span>Vinster:</div>
                <div class="col text-left">{{win}}</div>
            </div>
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-thumbsdown padding"></span>Förluster:</div>
                <div class="col text-left">{{loss}}</div>
            </div>
            <div class="row">
                <div class="col col-75 text-left"><span class="ion-bowtie padding"></span>Oavgjort:</div>
                <div class="col text-left">{{tied}}</div>
            </div>
            <!--<div class="row">
                <div class="col col-75 text-left"><span class="ion-ios-heart padding"></span>Bästa kategori: </div>
                <div class="col text-left"><em></em></div>
            </div>-->
    	</div>
        <button class="button button-positive icon icon-left ion-plus-round" ui-sref="tab.addQuestion">Föreslå ny fråga</button>
        <button class="button button-balanced icon ion-wrench" ui-sref="tab.admin" ng-if="role === 'admin'"></button>
    </ion-content>
</ion-view>