<ion-view title="question" id="question">
  <ion-content ng-hide="gameOver">
    <div class="card">
      <div class="item item-text-wrap" ng-model="currentQuestion">
        {{questions[currentQuestion].question}}
      </div>
    </div>
    <div>
      <button ng-class="class" ng-repeat="choice in questions[currentQuestion].choices" class="button button-positive button-block" ng-click="answer($index)" ng-disabled="userClicked">{{choice}}</button>
    </div>
  </ion-content>
  <ion-content class="row row-center" ng-show="gameOver">
    Du svarade rätt på {{score}} av {{questions.length}} frågor.
    <button class="button button-positive button-full" ng-click="quit()">Avsluta omgång</button>
    <p></p>
    <div class="card"><div class="item-image">Du har nu totalt {{newScore}} poäng.</div></div>
  </ion-content>
  <div class="bar bar-footer has-tabs" ng-hide="gameOver">
    <button class="button button-balanced button-full" ng-click="next()">Nästa fråga</button>
  </div>
</ion-view>