<ion-view title="Ready Set Quiz" id="register">
  <ion-content>
  	<div class="list padding">
		  <label class="item item-input">
		    <span class="input-label text-left">Användarnamn</span>
		    <input type="text" ng-model="username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label text-left">Email</span>
		    <input type="email" ng-model="email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label text-left">Lösenord</span>
		    <input type="password" ng-model="password">
		  </label>
		  <label class="item item-input">
		    <span class="input-label text-left">Lösenord (igen)</span>
		    <input type="password" ng-model="password2">
		  </label>
		  <button class="button button-block button-balanced" ng-click="register(username,email,password,password2)">Registrera</button>
		</div>
  </ion-content>
</ion-view>